<template>

    <div class="champProfile">
        <div class="champPhoto">
            <a :href="champInfo"><img :src="photoPath" :alt="champName" /></a>
        </div>
        <div class="champName"><h2>{{champName}}</h2></div>
        </div>
</template>

<script>
export default {
    props: {
        photoPath: {
            type:String,
            required:true
        },
        champName:{
            type:String,
            required:true
        },
        champInfo:{
            type:String,
            required:true
        }
    }
}
</script>
