div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}
div.sq-login-box div.img-box img {
    width: 100%;
}


span.sq-status-badge {
    background-color: #ac0000;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 15px 10px 5px;
    color: #ffffff;
}
span.sq-status-badge span {
    background-color: #ffffff;
    color: #333333;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    padding: 5px 10px;
}


div.sq-ending-thumb-box {
    width: 120px;
    background-color: #001b89;
    text-align: center;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-thumb {
    padding-top: 10px;
}
div.sq-ending-thumb-box div.in-thumb img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-text {
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: 600;
}

.sq-ballon {
    border: #333333 1px solid;
    width: 320px;
    position: relative;
    background: #333333;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 12.8px;
    -webkit-box-shadow: 3px 3px 3px 3px #D1D1D1;
    box-shadow: 3px 3px 3px 3px #D1D1D1;
}


.sq-ballon:after {
    border-top: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 35px;
    left: 160px;
}
/*롤챔프*/

h1{
    font-size: 50px;
    text-align: center;
    width: 1200px;
}
.top-banner ul{
    display: flex;
    gap: 20px;
    width: 1200px;
    justify-content: center;
    margin: 20px 0 10px;
    border: 2px solid #66e397;
    border-radius: 10px;
    height: 50px;
    align-items: center;
}
div.top-banner ul a{
    color: #333333;
    font-size: 16px;
    text-decoration: underline;
    margin: 0 10px;
}
.mainContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    width: 1200px;
}
.mainContent img{
    height: 284px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.mainContent img:hover{
    transform: scale(1.1);
    transition-duration: 0.2s;
}

div.champPhoto{
    height: 284px;
    overflow: hidden;
}
div.champName{
    background: #000000;
    height: 50px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
div.champName h2{
    margin-top:15px ;
    font-weight: bold;
    font-size: 24px;
    color: #f9f9f9;
    margin-left: 10px;
}
div.champName h2:hover{
    margin-left: 19px;
    transition-duration: 0.2s;
}

