<template>
    <section>
        <div class="topName"><h1> 롤 챔프 소개</h1></div>
        <div class="top-banner">
                <nav>
                    <ul>
                        <li><a>암살자</a></li>
                        <li><a>전사</a></li>
                        <li><a>마법사</a></li>
                        <li><a>서포터</a></li>
                        <li><a>원거리 딜러</a></li>
                    </ul>
                </nav>
        </div>
        <div class="mainContent">
            <lolchamp
                v-for="(item,index) in champ"
                v-bind:Key="index"
                v-bind:champ-name="item.champName"
                v-bind:photo-path="item.photoPath"
                v-bind:champ-info="item.champInfo">
            </lolchamp>
        </div>
    </section>
</template>


<script>
export default {
    data(){
        return{
            champ:[
                {
                photoPath:'/images/champ1.jpg',
                champName:'가렌',
                champInfo:'https://www.leagueoflegends.com/ko-kr/champions/garen/'
            },
                {
                    photoPath:'/images/champ2_galio.jpg',
                    champName:'갈리오',
                    champInfo:'https://www.leagueoflegends.com/ko-kr/champions/galio/'
                },
                {
                    photoPath:'/images/champ3_gangplank.jpg',
                    champName:'갱플랭크',
                    champInfo:'https://www.leagueoflegends.com/ko-kr/champions/gangplank/'
                },
                {
                    photoPath:'/images/champ4_gragas.jpg',
                    champName:'그라가스',
                    champInfo:'https://www.leagueoflegends.com/ko-kr/champions/gragas/'
                },
                {
                    photoPath:'/images/champ5_graves.jpg',
                    champName:'그레이브즈',
                    champInfo:'https://www.leagueoflegends.com/ko-kr/champions/graves/'
                },
                {
                    photoPath:'/images/champ7_gnar.jpg',
                    champName:'나르',
                    champInfo:'https://www.leagueoflegends.com/ko-kr/champions/gnar/'
                },
                {
                    photoPath:'/images/champ8_nami.jpg',
                    champName:'나미',
                    champInfo:'https://www.leagueoflegends.com/ko-kr/champions/nami/'
                },
                {
                    photoPath:'/images/champ9_nasus.jpg',
                    champName:'나서스',
                    champInfo:'https://www.leagueoflegends.com/ko-kr/champions/nasus/'
                },
                {
                    photoPath:'/images/champ10_naafiri.jpg',
                    champName:'나피리',
                    champInfo:'https://www.leagueoflegends.com/ko-kr/champions/naafiri/'
                }
                ]
        }
    }
}
</script>
