<template>
    <div>
        <div>
            <h2>검색</h2>
            <el-input placeholder="검색할 이름" v-model="searchName"></el-input>
            <el-input placeholder="검색할 나이" v-model="searchAge"></el-input>
            <el-input placeholder="검색할 년도" v-model="searchYear"></el-input>
            <el-input placeholder="검색할 월" v-model="searchMonth"></el-input>

            <el-button type="success" circle @click.native="getList()">검색</el-button>
        </div>
        <div v-for="(item, index) in list" v-bind:key="index">
            {{ item.year }}<br />
            {{ item.month }}<br />
            {{ item.name }}<br />
            {{ item.age }}
        </div>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="totalItemCount"
            :current-page="pageNum"
            @current-change="setPage"
        >
        </el-pagination>
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    data() {
        return {
            list: [],
            pageNum: 1,
            totalItemCount: 0,

            searchName: null,
            searchAge: null,
            searchYear: null,
            searchMonth: null
        }
    },
    methods: {
        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        getList() {
            let payload = {
                pageNum: this.pageNum,
                params: {
                    searchName: this.searchName,
                    searchAge: this.isNumber(this.searchAge) ? Number(this.searchAge) : null,
                    searchYear: this.isNumber(this.searchYear) ? Number(this.searchYear) : null,
                    searchMonth: this.isNumber(this.searchMonth) ? Number(this.searchMonth) : null
                }
            }

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$testDataConstants.DO_LIST_PAGING, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        isNumber(text) {
            return !isNaN(Number(text))
        }
    },
    created() {
        this.getList()
    }
}
</script>
